Print variable a

In [3]:
a = 50
a

50

to check the type of variable a

In [4]:
type(a)

int

id() it returns a unique id for the specified object. The unique id is always assigned when an object is created

In [5]:
id(a)

140707513485640

In [6]:
a=100
id(a)

140707513487240

Assigning multiple variables on a single line

In [7]:
(x,y,z) = 50,168.6,"Debienta"

In [8]:
x

50

In [9]:
y

168.6

In [10]:
z

'Debienta'

In [11]:
type(x)

int

In [12]:
type(y)

float

In [13]:
type(z)

str

In [14]:
x=y=z=10

In [15]:
x

10

In [16]:
y

10

In [17]:
z

10

In [18]:
(x,y,z)=10,10,10

In [19]:
x

10

In [20]:
y

10

In [21]:
z

10

Rules for variable naming

In [22]:
abc = 100

In [23]:
abc

100

In [24]:
a102="India"
a102

'India'

In [25]:
_123=70.5
_123

70.5

In [26]:
_dog="puppy"
_dog

'puppy'

In [27]:
_name_age="debby 21"
_name_age

'debby 21'

 A variable name cannot start with a number. Like in the cell below it will indicate an error.

In [1]:
1name='gili'
1name

SyntaxError: invalid decimal literal (1319638671.py, line 1)

@ is not recognized when giving a variable name

In [2]:
@age = 40

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2199593111.py, line 1)

$ is not recognized when giving a variable name

In [3]:
name$age = 40

SyntaxError: invalid syntax (3882836939.py, line 1)

Variables are case sensitive CAR is not similar to car

In [6]:
car = 'BMW'
car

'BMW'

In [7]:
CAR = 'Toyota'
CAR

'Toyota'

Reserve words cannot be used as variable names in python
They include:
False	def	if	raise
None	del	import	return
True	elif	in	try
and	else	is	while
as	except	lambda	with
assert	finally	nonlocal	yield
break	for	not	
class	from	or
continue	global	pass

In [8]:
break =80

SyntaxError: invalid syntax (1375032292.py, line 1)

In [12]:
continue = 3

SyntaxError: invalid syntax (719622438.py, line 1)

In [14]:
_continue = 4
_continue

4

In [15]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [19]:
#Basic Python Operations
a=200
b=400
result=a+b
print (result)

600

In [20]:
result=a-b
result

-200

In [21]:
result=a/b
result

0.5

In [23]:
#integer division
result=100//40
result

2

In [24]:
Country = 'India'
Country

'India'

In [27]:
#Gives the letter on the 3rd array index
#when counting you start from index 0
Country[3]

'i'

In [28]:
#Gives the letter upto the 3rd array index
Country[:3]

'Ind'

In [30]:
cars = ['BMW', 'Ferrari', 'Toyota']
cars

['BMW', 'Ferrari', 'Toyota']

In [36]:
#allows you to assign variables from the liost of cars
x,y,z = cars

In [37]:
x

'BMW'

In [38]:
y

'Ferrari'

In [39]:
z

'Toyota'

VARIABLES TO PRINT FUNCTIONS OR STATEMENTS

In [43]:
x = "Debienta"
print("Welcome to " + x)

Welcome to Debienta

In [44]:
#In python you cannot add an integer and a string
x = 20
y = "Debienta"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
#How to write multi-word variables
#1. Camel case- first word starts with small letter and 2nd word starts with caps
myDepartment = "IT"
myDepartment

'IT'

In [46]:
carBrand="BMW"
carBrand

'BMW'

In [47]:
#Pascal Case - each word starts with a capital letter
MyName = "Deborah"
MyName

'Deborah'

In [48]:
AgeNow=22
AgeNow

22

In [49]:
#Snake Case - each word is splitted by an underscore
city_address="Newyork"
city_address

'Newyork'

In [50]:
my_current_age=40
my_current_age

40